* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: yellowgreen;
    height: 5rem;
}

header h1 {
    padding: 1rem;
    white-space: nowrap;
}

.logo {
    display: flex;
    flex-wrap: nowrap;
}

header input {
    height: 2rem;
    padding: 5px 10px;
    border-radius: 1rem;
    border: none;
    box-shadow: 5px 5px 0px 0px aquamarine;
}

header .btns {
    display: flex;
    gap: 1rem;
    margin-right: 1rem;
    ;
}

.btns button {
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: azure
}

.btns button:nth-child(1) {
    background-color: brown;
}

.btns button:nth-child(2) {
    background-color: black;
}

.btns button:nth-child(3) {
    background-color: red;
}

@media screen and (max-width: 575px) {
    header input {
        display: none;
    }
}

/* Categories */
.categoryWrapper {
    padding: 20px;
    background-color: cornsilk;
    width: 100%;
    margin: auto;
}

.categoryWrapper h1 {
    text-align: center;
}

.categoryList {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 1rem;

}

.category {
    max-width: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category img {
    width: 100%;
    border-radius: 10px;
}

.category span {
    position: absolute;
    bottom: 10px;
    background-color: whitesmoke;
    padding: 5px 10px;
    border-radius: 10px;
    width: 70%;
    text-align: center;
}

@media screen and (min-width: 575px) {
    
}
/* products styling start*/
.productsWrapper{
    padding: 30px;
}

.productList{
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 4rem;
}

.product{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 10px;
    background-color:cyan;
}

.productWrapper h1 {
    text-align: center;
    margin-bottom: 1rem;
}
.product img{
    width: 100px;
    padding: 10px 0px;
    border-radius: 2rem;

}

.product p{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    margin: 3px 0px;
    text-align: center;
}

.productInfo{
    background-color: crimson;
    color:white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  5px 10px;
    border-radius: 10px;
    margin: 10px;
    width: 95%;

}

.productInfo span{
    letter-spacing: 1px;
}
.productInfo button{
    background-color: yellow;
    color: tomato;
    padding: 5px 10px;
    border-radius: 15px;
    border: none;
}

/* products styling end*/

/* modal start*/
.modalWrapper{
    width: 100%;
    height: 100vh;
    background-color: rgba(243, 195, 180, 0.4);
    position: fixed;
    display: none;
    place-items: center;
    top: 0;
}
.modal{
    width: 80vw;
    height: 70vh;
    background-color: rgb(249, 249, 206);
    border-radius: 1.2rem;
    padding: 1rem;
    position: relative;
}
.active{
    display: grid;
}

#cartName{
  position: absolute;
  top: 20px;
  right: 170px;
  border-style: double;
  padding: 0 15px;
}
.cartItemWrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}
.cartItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 1px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.cartItem h4 :nth-child(1){
    color: crimson;
}

.cartItem p{
    color:brown
}

#addtoCart:hover{
    background-color: rgb(9, 9, 9);
    color:rgb(228, 245, 119);
    font-weight: bolder;

}
.emptyCart{
    position: absolute;
    bottom:0px;
    right:25px;
    display: grid;
    place-items: center;
    gap:0.3rem;
    margin-bottom: 0.3rem;
    color:crimson;

}

.totalWrapper{
    margin: 1rem 0;
    position: absolute;
    bottom: 5px;
    font-weight: bold;
    color: crimson;
}

@media screen and (min-width: 575px) {
    #cartName {
        margin-right: 21rem;
    }
}

.fall{
    transform: translateY(100px) rotateZ(20deg);
    opacity: 0;
}
/* modal end*/
